.custom-section {
    margin-top: 50px;
    width: 100%;
    height: 100px;
    background-color: seashell;

    .dark-theme {
        background-color: sienna;
    }
    .white-theme {
        background-color: white;
    }
    .red-theme {
        background-color: red;
    }
}
